section#intro
	padding: 77px 0 0

	h1
		padding: 0px 0px 20px

img.inset
	float: left
	padding: 0 20px 20px 0

section#species
	padding: 77px 0 65px

	h1
		padding: 0px 0px 20px

	div#slider-cont
		#options
			width: 22%
			display: inline-block
			vertical-align: top

		p.filters
			text-align: center

		ul#filters
			li
				float: left
				list-style-type: none
				width: 5.7%
				font-size: .4em
				visibility: hidden

	article
		width: 17.5%
		border: 1px solid $brown
		min-height: 225px
		margin: 22px 1% 0

		div.fish
			width: 100%
			padding-top: 30px

			img
				width: 80%
				margin: 0 auto
				display: block

			h5
				margin: 0 auto
				font-size: 1.8em
				padding-top: 14px

			p
				text-align: center

div.slider-right
	width: 77%
	float: right
	margin-top: 7px

	div.slider-image
		margin-bottom: 22px

		img
			width: 100%

.ui-slider
	width: 98%!important
	margin: 0 auto

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
	background-image: none!important
	background-color: $brown!important
	border: 0 !important
	border-radius: 50%

.ui-slider-horizontal
	height: 0!important

.ui-slider-horizontal .ui-slider-handle
	top: -.58em!important

.ui-widget-content
	border-color: $green!important



section.fleet
	padding: 124px 0 170px

	article.fleet-item
		width: 30%
		margin: 0 1% 20px
		background: url(/_assets/img/pattern.png) repeat left top transparent
		padding: 35px 2%
		display: inline-block
		vertical-align: top
		max-height: 391px
		min-height: 391px
		overflow: hidden

		span
			display: block
			margin: 0 auto
			color: $brown!important
			width: 70%
			font-size: 5em

			&.icon-play
				position: absolute
				top: 40%
				margin-top: -18px
				left: 50%
				margin-left: -18px
				font-size: 2em

		h4
			color: $brown
			border-bottom-color: $brown

		p
			primary-font($light)
			font-size: 0.7777777777777777em
			line-height: 1.2857142857142856em
			color: $brown!important
			text-align: center
			padding: 30px 0 0

		a.video-link
			position: relative

			&:hover
				img
					opacity: .8

				span
					color: $white
					transition: color 400ms ease

		img
			width: 76%
			margin: 0 12%

			&.atv
				width: 50%
				margin: 0 25%

		&.article
			img
				float: left
				width: 42%
				padding-right: 5%

			p
				text-align: left
				padding-top: 0

				&.author
					ssp-italic($regular)
					padding-top: 20px


section.pole
	padding: 124px 0 170px

	a.legacy-item
		width: 30%
		margin: 0 1% 20px
		background: url(/_assets/img/pattern.png) repeat left top transparent
		padding: 35px 2%
		display: inline-block
		vertical-align: top
		text-decoration: none

		span
			display: block
			margin: 0 auto
			color: $mint
			width: 30px
			font-size: 2em

		h4
			color: $brown
			border-bottom-color: $mint
			font-size: 1.8em
			min-height: 115px

		img
			width: 100%
			margin-top: 20px

section#legacy
	padding: 77px 0px 65px

img.floater
	float: left
	margin: 6px 20px 20px 0
	width: 20%



img.lodge-logo
	width: 30%
	margin: 0 auto 60px
	display: block

	&.second-logo
		margin-top: 100px

.lodge
	ul.slides
		li
			img
				border: 4px solid #fff

			h3
				primary-font($regular)
				font-size: 0.7777777777777777em
				line-height: 1.2857142857142856em
				color: #fff
				text-align: center
				padding: 10px 20px

	.flex-direction-nav a
		top: 25%



.left
	display: inline-block
	width: 45%
	margin: 0 5% 0 0
	vertical-align: middle

	img
		width: 100%

	&.fisherman
		width: 27%
		margin: 0 13% 0 10%

.right
	display: inline-block
	width: 45%
	vertical-align: middle

table.trip-table tr td
	padding: 17px 20px

ul.itinerary
	li
		background: url(/_assets/img/pattern.png) repeat left top transparent
		list-style-type: none

		&:last-child
			padding-bottom: 80px

		div.desc
			vertical-align: middle
			width: 100%
			display: inline-block

			div.icon
				width: 15%
				display: inline-block
				padding: 5%
				vertical-align: middle

				&.pole
					font-size: 8em
					margin-left: 30px
					margin-right: -40px

				&.plane-arrive, &.plane-depart
					font-size: 7.5em

				&.cab
					font-size: 6em

				&.lake
					font-size: 6em

			div.schedule
				width: 75%
				margin-left: 3%
				display: inline-block
				vertical-align: middle

				h6
					padding: 68px 0 10px

				p
					font-size: .9em
					color: $brown!important

		div.icons
			border-left: 1px solid $mint
			width: 18.5%
			display: inline-block
			vertical-align: top

			div.clock-icon
				border-bottom: 1px solid $mint
				font-size: 5em
				padding: 41px 25%

			div.day-icon
				font-size: 5em
				padding: 40px 25% 30px

	[class^="icon-"], [class*=" icon-"]
		color: $mint
		font-size: .5em

ul.flex-direction-nav li
	list-style-type: none



p.table-header
	text-transform: uppercase
	font-size: 1.3333333333333333em
	color: $brown
	text-align: center
	primary-font($semibold)

p.table-body
	text-transform: none

/******** START Drag to Reveal module STYLES *********/
div#product-reveal
	padding-bottom: 40px

	.container
		position: relative

	h1
		float: left
		padding-top: 50px
		max-width: 43%
		white-space: nowrap

.reveal-parts-container
	position: relative
	display: inline-block
	float: right

	.foreground
		width: 50%
		border-right: 1px solid $white
		position: absolute
		z-index: 101
		top: 0
		left: -10px

		.image-c
			overflow: hidden
			margin-left: 10px

			img
				width: inherit

		.ui-resizable-e
			width: 44px
			height: 43px
			background: url(/_assets/img/handle.png)
			position: absolute
			right: -22px
			bottom: 0

		.ui-resizable-e:active, .ui-resizable-e:hover
			cursor: pointer

	.background
		position: relative
		width: 260px

		img
			width: 107%

	.bot-bar
		height: 12px
		background: url(/_assets/img/bot-bar.png) no-repeat
		width: 100%
		background-size: 100%
		margin-top: -29px

	.tip
		display: block
		text-align: center
		padding: 30px
		font-size: .8em

	ul.highlights
		li
			height: 28px
			width: 28px
			position: absolute
			top: 0
			left: 0
			border-radius: 100%
			z-index: 105
			cursor: pointer
			transition: all .5s ease
			list-style-type: none

			img
				position: relative
				z-index: 100

			.ring
				height: 38px
				width: 38px
				border-radius: 100%
				position: absolute
				top: -5px
				left: -5px
				z-index: 99

		//fisherman markers
		.b-thirteen
			top: 4px
			left: 82px
		.b-one
			top: -10px
			left: 44px
		.b-two
			top: 23px
			left: 76px
		.b-three
			top: 350px
			left: 161px
		.b-four
			top: 430px
			left: 190px
		.b-five
			top: 550px
			left: 31px
		.b-six
			top: 143px
			left: 152px
		.b-seven
			top: 93px
			left: 50px
		.b-eight
			top: 150px
			left: 15px
		.b-nine
			top: 294px
			left: 70px
		.b-ten
			top: 176px
			left: 60px
		.b-eleven
			top: 396px
			left: 60px
		.b-twelve
			top: 540px
			left: 54px

.reveal-parts-container.fisherman
	.foreground
		img
			margin-left: 0

	.background
		img
			margin-left: 0

.feature-info
	position: absolute
	left: 200px
	top: 120px
	margin-top: 30px
	background: $white
	padding: 1%
	width: 100%
	max-width: 490px
	min-height: 260px
	z-index: 106
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3)
	text-align: center
	display: none

	ul
		padding: 0

	li
		display: none
		list-style-type: none
		padding: 0 30px 20px

	img
		width: inherit
		display: block
		text-align: center
		margin: 30px auto 50px

	span
		line-height: .8em
		font-size: 1em
		text-align: center
		headline-font()
		color: $brown
		text-transform: uppercase

.highlight-overlay
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 104



#gallery
	background: url(/_assets/img/rates.jpg) no-repeat center center transparent
	background-size: cover
	padding-bottom: 30px

	h1
		color: #fff
		letter-spacing: 10px

	h3
		color: #fff
		font-size: 2em
		text-align: center

	h6
		color: #fff
		text-align: center
		text-decoration: underline
		padding-bottom: 15px

	p
		color: #fff
		text-align: center
		padding-bottom: 10px
		text-transform: uppercase
		letter-spacing: 2px
		font-size: .8em

		a
			color: #fff
			text-decoration: none

			&:hover
				color: $blue

#rates
	h3
		color: $brown
		font-size: 2em
		text-align: center

	h6
		padding-bottom: 15px

	article.column
		display: inline-block
		vertical-align: top
		width: 30%
		margin: 0 9% 30px

#gallery
	background: url(/_assets/img/fixed-plane2.jpg) no-repeat center center transparent
	background-size: cover

	.form-login
		width: 50%
		margin: 0 25%
		display: block

		input
			margin: 0 auto 20px
			text-align: center

		button
			float: none
			margin-bottom: 30px

#safety-information
	background: url(/_assets/img/pattern.png) repeat left top transparent
	padding: 0px 60px 60px



section.staff
	padding: 124px 0 170px

	a.staff-item
		width: 30%
		margin: 0 1% 20px
		background: url(/_assets/img/pattern.png) repeat left top transparent
		padding: 35px 2%
		display: inline-block
		vertical-align: top
		max-height: 425px
		min-height: 425px
		overflow: hidden
		text-decoration: none

		span
			display: block
			margin: 0 auto
			color: $mint
			width: 30px
			font-size: 2em

		h4
			color: $brown
			border-bottom-color: $mint

		img
			width: 100%
			margin-top: 20px

#bio
	background: url(/_assets/img/pattern.png) repeat left top transparent
	padding: 0 30px 30px

	h1
		color: $brown
		letter-spacing: 4px

	h2
		color: $brown
		primary-font($light)
		letter-spacing: 2px
		font-size: 1.3em

	p
		color: $brown

	img
		width: 29%
		float: left
		padding: 5px 20px 10px 0

	&.fish
		img
			width: 80%
			margin: 0 auto
			float: none
			display: block

		h1
			padding-top: 12px

		div.description
			span
				ssp-italic($regular)
				color: $green

			p
				padding-bottom: 10px



section#faq
	padding: 100px 0 60px

	h1
		padding: 0px 0px 20px

	h2
		padding: 30px 0 40px
		text-align: center

	p.faquestion
		cursor: pointer
		primary-font($bold)
		font-size: 1.2em
		text-transform: uppercase
		line-height: 1em

		span
			color: $green
			font-size: 1.5em
			vertical-align: middle

		&:hover
			color: $green
			transition: color 400ms ease

	p.faqanswer
		display: none
		padding: 0 0 40px 40px

		&.show
			display: block
			transition: all 400ms ease

		a
			color: $green
			text-decoration: none

			&:hover
				color: $mint
				transition: color 400ms ease




.hidden
    display: none

section.media
	.facebook
		margin: 17px auto
		text-align: center

	aside
		background: url(/_assets/img/pattern.png) repeat left top transparent
		width: 210px
		margin-right: 20px
		padding: 20px
		display: inline-block
		position: relative

		ul
			padding-top: 10px

			li
				list-style-type: none
				padding-bottom: 10px
				font-size: 1.2333333333333333em

				a
					headline-font()
					text-transform: uppercase
					text-decoration: none
					color: $brown

					&:hover
						color: $green

					&.showall
						color: $green

				&.heading
					color: $green
					headline-font()
					font-size: 1.6666666666666665em
					text-transform: uppercase
					padding-top: 10px

	div#container
		overflow: hidden
		min-height: 430px
		display: inline-block
		vertical-align: top
		width: 76%
		float: right

		article.media-item
			width: 47%
			height: 420px
			margin: 0 1% 20px
			background-color: $white
			padding: 22px 2%
			display: inline-block
			vertical-align: top
			overflow: hidden

			&.photo
				img
					margin-top: 17px

			span
				display: block
				margin: 0 auto
				color: $mint
				width: 36px
				font-size: 1.5em

				&.icon-play
					position: absolute
					top: 40%
					margin-top: -18px
					left: 50%
					margin-left: -18px
					font-size: 2em

			h4
				color: $brown
				border-bottom-color: $brown

			p
				primary-font($light)
				font-size: 0.7777777777777777em
				line-height: 1.2857142857142856em
				color: $brown
				text-align: center
				padding: 20px 0 0

			a.video-link
				position: relative

				&:hover
					span
						color: $white
						transition: color 400ms ease

			img
				width: 100%
				margin-top: 20px
				max-height: 265px

			&.article
				img
					float: left
					width: 42%
					padding-right: 5%

				p
					text-align: left
					padding-top: 0
					max-height: 195px

					&.author
						ssp-italic($regular)
						padding-top: 20px
						color: $green

			a.readmore
				color: $mint

				&:hover
					color: $green



section#contact
	padding: 77px 0px 65px

	h2
		color: #fff

div.form
	margin-top: 30px

	div.formleft
		width: 46%
		margin-right: 7%
		display: inline-block
		vertical-align: top

		input.opt-in
			display: inline
			width: 25px

		label#opt-in
			display: inline
			primary-font($normal)
			text-transform: none

	div.formright
		width: 46%
		display: inline-block

		.g-recaptcha
			margin-bottom: 15px
			background-color: #fff

div.contact
	width: 50%
	display: inline-block
	vertical-align: top

	p
		headline-font()
		font-size: 2em
		text-transform: uppercase
		text-align: center
		line-height: 1em
		padding: 0px 0 44px
		color: #fff

		&.phone
			padding-top: 20px

		a
			color: #fff
			text-decoration: none

			&:hover
				color: $mint

label
	primary-font($bold)
	color: #fff
	font-size: 1.3em
	line-height: 1.3em
	display: block
	text-transform: uppercase

	a
		color: $brown

input
	width: 96%
	margin-bottom: 20px
	height: 20px
	border: none
	background-color: #fff
	padding: 10px 2%
	font-size: 18px
	color: $brown
	primary-font($regular)

	&:required
		box-shadow: none

textarea
	width: 96%
	background-color: #fff
	color: $brown
	padding: 2%
	margin-bottom: 20px
	font-size: 18px
	border: none
	resize: none
	height: 197px
	primary-font($regular)

.left
	display: inline-block
	vertical-align: top
	width: 45%
	margin-right: 5%

.right
	display: inline-block
	vertical-align: top
	width: 45%
	margin-left: 4%

button
	width: 100%
	background-color: #cadfaa
	color: #fff
	headline-font()
	text-transform: uppercase
	font-size: 2em
	text-align: center
	border: none
	padding: 3px 0 0
	display: block
	float: right

	&:hover
		background-color: $green
		transition: color 400ms ease

section#fourohfour
	padding: 77px 0px 65px

	h2
		color: #fff

	p
		text-align: center

		&.first
			padding-top: 40px

		a
			color: #fff
